---
import Layout from "@layouts/Layout.astro";
import QATitle from "@components/questions-and-answers/QATitle.astro";
import {BancoRespuestas} from "@components/questions-and-answers/React/BancoRespuestas.tsx";
import {BancoPreguntas} from "@components/questions-and-answers/React/BancoPreguntas.tsx";

---

<Layout title="Preguntas y Respuestas | WAT-O">
    <section class="mt-10 flex flex-col items-center justify-center w-[95%] rounded-lg gap-16 mx-auto mb-20 p-6 min-h-[800px]">
        <QATitle/>
        <div class="flex flex-row justify-center w-full gap-8 ">
            <BancoRespuestas client:visible/>
            <div class="w-[30%] flex flex-col items-center justify-center gap-6 ">
                <BancoPreguntas client:load/>
                <div class="flex flex-col items-center justify-center gap-4 w-full bg-gray-200/75 rounded-xl p-5 shadow-xl ">
                    <h1 class="text-xl text-center font-delicious-small-caps text-pretty">TAMBIÉN PUEDES ESCRIBIRME EN <p>INSTAGRAM <a class="text-rose" href="https://www.instagram.com/enzoosorioortiz/" target="_blank" rel="noopener noreferrer">@ENZOOSORIOORTIZ</a></p></h1>
                </div>
            </div>
        </div>
    </section>
    <div class="pb-32"></div>
</Layout>
