---
import { Image } from "astro:assets";
import CopoDeNieve from '../../../public/svgs/copo-de-nieve.svg'
import CopoDeNieveConGradiente from '../../../public/svgs/copo-de-nieve-con-gradiente.svg'
import Button from "../reusable/Button.astro";
import ChevronDown from '../../../public/svgs/Chevron Down.svg'
import { fade } from "astro:transitions";
const VALORACION = 3

---

<section class="relative w-full my-10 welcomeToMain flex flex-col items-center justify-center gap-12 ">
    <div transition:animate={fade({ duration: '0.4s' })} class="flex flex-row items-center justify-center gap-24  w-max mx-auto">
        <div class="flex flex-col justify-end items-end gap-8 ">
            <h1 class="text-6xl font-bold text-right w-[14ch] tracking-tighter">Work and Travel en Montana</h1>
            <p class="font-nunito text-lg tracking-tighter w-[40ch] text-right">Un invierno con frío extremo. Paisajes únicos y nuevos amigos de otros países </p>
            <div class="flex flex-col items-center justify-center gap-4">
                <p class="text-lg font-nunito">Valoración del viaje</p>
                <div class="flex flex-row items-center justify-center gap-4">
                    {Array.from({ length: 5 }, (_, i) => i + 1).map((i) => (
                        <div class="flex flex-col items-center justify-center gap-2">
                           {i <= VALORACION ? (
                                <CopoDeNieveConGradiente class={'w-12 h-12'} />
                            ) : (
                                <CopoDeNieve class={'w-12 h-12'} />
                            )}
                            <p class="text-sm font-bold">{i}</p>
                        </div>
                    ))}
                </div>
            </div>
        </div>
        <Image src="/images/minions-image.png" alt="Welcome" width={400} height={500} />
    </div>
    <Button bgColor="bg-yellow" textColor="text-amber-500" className="absolute -bottom-10 w-24 mx-auto rounded-full animationButtonBounce">
        <ChevronDown class="w-8 h-8 mx-auto" />
    </Button>
</section>
<script>

function scrollToElement(){
    const button = document.querySelector('.animationButtonBounce');
  if (button) {
    button.addEventListener("click", () => {
        window.scroll({
        top: 845,
        left: 0,
        behavior: 'smooth'
      })
    });
    button.addEventListener('animationend', () => {
      button.classList.add('infinite');
    });
  }

  document.addEventListener("astro:before-swap", () => {
    button?.removeEventListener("click", () => {
        window.scroll({
        top: 845,
        left: 0,
        behavior: 'smooth'
      })
    });
    button?.removeEventListener('animationend', () => {
      button.classList.add('infinite');
    });
  });
}

scrollToElement();

document.addEventListener("astro:after-swap", () => {
   scrollToElement();
})

</script>
