---
import Layout from "@layouts/Layout.astro";
import {Timeline} from "@components/timeline/Timeline.tsx";
---

<Layout title="Timeline | WAT-O">
    <section class="relative mt-10 flex flex-col items-center justify-start w-full rounded-lg gap-16 mx-auto mb-20 p-6 min-h-[800px]">
       
        <Timeline client:visible/>
    </section>
    <div class="pb-32"></div>
</Layout>