---
import Welcome from "../components/Hero/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import HorizontalSliderPhotos from "@components/Hero/HorizontalSliderPhotos.astro";
import InfoStickyNotes from "@components/Hero/InfoStickyNotes.astro";
import PersonalExperience from "@components/Hero/PersonalExperience.astro";
---

<Layout title="Work and Travel | Enzo">
  <Welcome />
  <HorizontalSliderPhotos />
  <InfoStickyNotes />
  <PersonalExperience />
  <!-- <Projects /> -->
  <div class="pb-48"></div>
</Layout>

