---
import { SliderHorizontal } from "./reactComponents/HorizontalSlider";
---

<section
  class="w-full flex flex-row items-center justify-center gap-12 mt-56 mb-40 welcomeToMain"
>
  <SliderHorizontal client:visible />
</section>
