---
import { HorizontalSlider } from '../components/reactComponents/HorizontalSlider';
import type { Photo } from '../types/SliderHorizontal';
import { SliderHorizontal } from '../components/reactComponents/Counter';

---

<section class="w-full flex flex-row items-center justify-center gap-12 my-60 welcomeToMain">
  <div class="flex flex-row items-center justify-center gap-12 w-max mx-auto">
     <SliderHorizontal />
  </div>
</section>